In [1]:
import pandas as pd
import sqlite3
import os

def load_energy_data(db_path="database.db"):
    # Connect to the database
    conn = sqlite3.connect(db_path)

    try:
        # Load all tables
        devices_df = pd.read_sql_query("SELECT * FROM devices", conn)

        historical_df = pd.read_sql_query("SELECT * FROM historical_energy_readings", conn)
        historical_df["timestamp"] = pd.to_datetime(historical_df["timestamp"])

        realtime_df = pd.read_sql_query("SELECT * FROM real_time_energy_readings", conn)
        realtime_df["timestamp"] = pd.to_datetime(realtime_df["timestamp"])

        predictions_df = pd.read_sql_query("SELECT * FROM predictions", conn)
        predictions_df["timestamp"] = pd.to_datetime(predictions_df["timestamp"])

        scheduled_tasks_df = pd.read_sql_query("SELECT * FROM scheduled_tasks", conn)
        scheduled_tasks_df["scheduled_time"] = pd.to_datetime(scheduled_tasks_df["scheduled_time"], errors='coerce')

        anomalies_df = pd.read_sql_query("SELECT * FROM anomalies", conn)
        anomalies_df["timestamp"] = pd.to_datetime(anomalies_df["timestamp"])

        # Group by switch_id and count anomalies
        anomaly_counts = anomalies_df.groupby("switch_id").size().reset_index(name="anomaly_count")

    finally:
        conn.close()

    # Return all DataFrames in a dictionary
    return {
        "devices": devices_df,
        "historical": historical_df,
        "realtime": realtime_df,
        "predictions": predictions_df,
        "scheduled_tasks": scheduled_tasks_df,
        "anomalies": anomalies_df,
        "anomaly_counts": anomaly_counts
    }

In [2]:
data = load_energy_data()

data["devices"]
data["historical"]
data['realtime']
data['predictions']
data['scheduled_tasks']
# data['anomalies']
# data['anomaly_counts']

   task_id switch_id target_date scheduled_time         status
0        1     wm_01  2025-04-27            NaT  not_scheduled
1        2     dw_01  2025-04-30            NaT  not_scheduled
2        3     dw_01  2025-05-10            NaT  not_scheduled

In [3]:
data["historical"].head(60)

   switch_id           timestamp  power_consumption
0      rf_01 2025-04-30 10:24:06             136.23
1       B_02 2025-04-30 10:24:06              60.99
2       B_07 2025-04-30 10:24:06              20.55
3      sp_03 2025-04-30 10:24:06             134.08
4      wm_01 2025-04-30 10:24:06            1447.81
5      dw_01 2025-04-30 10:24:06             807.96
6       B_01 2025-04-30 10:24:06              21.78
7      sp_06 2025-04-30 10:24:06              39.11
8      ac_01 2025-04-30 10:24:06             402.41
9      sp_04 2025-04-30 10:24:06              43.85
10     wm_01 2025-04-30 10:54:06            1239.15
11     sp_01 2025-04-30 10:54:06              92.79
12     ac_04 2025-04-30 10:54:06             614.24
13     sp_03 2025-04-30 10:54:06             192.79
14      B_09 2025-04-30 10:54:06              25.94
15      B_08 2025-04-30 10:54:06              39.37
16     sp_06 2025-04-30 10:54:06              37.34
17     sp_05 2025-04-30 11:24:06             189.47
18     sp_03 2025-04-30 11:24:06             141.90
19      B_07 2025-04-30 11:24:06              70.48
20      B_02 2025-04-30 11:24:06              95.72
21     dw_01 2025-04-30 11:24:06            1260.58
22      B_03 2025-04-30 11:24:06              64.81
23      B_06 2025-04-30 11:24:06              41.95
24     sp_02 2025-04-30 11:24:06              83.33
25      B_10 2025-04-30 11:24:06              99.83
26     tv_01 2025-04-30 11:54:06             142.40
27      B_03 2025-04-30 11:54:06              86.63
28     ac_04 2025-04-30 11:54:06             517.25
29      B_01 2025-04-30 11:54:06              51.94
30      B_06 2025-04-30 11:54:06              25.35
31     wm_01 2025-04-30 11:54:06            1240.75
32     rf_01 2025-04-30 11:54:06             115.91
33     ac_02 2025-04-30 11:54:06             495.11
34      B_09 2025-04-30 11:54:06              90.61
35     dw_01 2025-04-30 11:54:06            1224.30
36      B_05 2025-04-30 12:24:06              39.33
37     sp_07 2025-04-30 12:24:06              72.72
38     dw_01 2025-04-30 12:24:06            1019.69
39      B_09 2025-04-30 12:24:06              94.46
40     tv_01 2025-04-30 12:24:06             100.98
41     sp_01 2025-04-30 12:24:06              73.51
42      B_07 2025-04-30 12:24:06              87.76
43     ac_01 2025-04-30 12:24:06             302.88
44     sp_01 2025-04-30 12:54:06              98.57
45      B_07 2025-04-30 12:54:06              61.58
46      B_08 2025-04-30 12:54:06              76.35
47     sp_04 2025-04-30 12:54:06             130.89
48     wm_01 2025-04-30 12:54:06             664.80
49     sp_03 2025-04-30 12:54:06              67.45
50      B_01 2025-04-30 12:54:06              44.58
51      B_03 2025-04-30 12:54:06              64.65
52     sp_06 2025-04-30 13:24:06             117.88
53     sp_07 2025-04-30 13:24:06             122.29
54     dw_01 2025-04-30 13:24:06             866.55
55     wm_01 2025-04-30 13:24:06            1381.43
56     tv_01 2025-04-30 13:24:06             148.52
57      B_06 2025-04-30 13:24:06              33.33
58     mw_01 2025-04-30 13:24:06            1165.80
59     ac_04 2025-04-30 13:24:06             514.21

In [4]:
data["historical"]

     switch_id           timestamp  power_consumption
0        rf_01 2025-04-30 10:24:06             136.23
1         B_02 2025-04-30 10:24:06              60.99
2         B_07 2025-04-30 10:24:06              20.55
3        sp_03 2025-04-30 10:24:06             134.08
4        wm_01 2025-04-30 10:24:06            1447.81
...        ...                 ...                ...
2805     ac_01 2025-05-07 10:24:06             537.91
2806      B_09 2025-05-07 10:24:06              69.11
2807      B_07 2025-05-07 10:24:06              95.54
2808      B_08 2025-05-07 10:24:06              32.58
2809     ac_04 2025-05-07 10:24:06             323.36

[2810 rows x 3 columns]

In [5]:
data['predictions'].head(60)

             timestamp  power_consumption
0  2025-05-07 22:28:08        3183.054981
1  2025-05-07 22:58:08        2784.015706
2  2025-05-07 23:28:08        2270.831463
3  2025-05-07 23:58:08        1720.593485
4  2025-05-08 00:28:08        1436.445018
5  2025-05-08 00:58:08        1031.760682
6  2025-05-08 01:28:08         770.175183
7  2025-05-08 01:58:08         660.043827
8  2025-05-08 02:28:08         681.721930
9  2025-05-08 02:58:08         795.529773
10 2025-05-08 03:28:08         953.209077
11 2025-05-08 03:58:08        1109.818347
12 2025-05-08 04:28:08        1233.146707
13 2025-05-08 04:58:08        1308.594853
14 2025-05-08 05:28:08        1338.815965
15 2025-05-08 05:58:08        1338.851569
16 2025-05-08 06:28:08        1328.647719
17 2025-05-08 06:58:08        1325.398294
18 2025-05-08 07:28:08        1338.007599
19 2025-05-08 07:58:08        1365.167450
20 2025-05-08 08:28:08        1397.353801
21 2025-05-08 08:58:08        1421.817817
22 2025-05-08 09:28:08        1428.732621
23 2025-05-08 09:58:08        1416.320659
24 2025-05-08 10:28:08        1393.120289
25 2025-05-08 10:58:08        1376.453250
26 2025-05-08 11:28:08        1387.362035
27 2025-05-08 11:58:08        1443.443126
28 2025-05-08 12:28:08        1551.764023
29 2025-05-08 12:58:08        1704.182393
30 2025-05-08 13:28:08        1876.824537
31 2025-05-08 13:58:08        2034.363939
32 2025-05-08 14:28:08        2138.367758
33 2025-05-08 14:58:08        2157.730455
34 2025-05-08 15:28:08        2078.448625
35 2025-05-08 15:58:08        1909.946892
36 2025-05-08 16:28:08        1685.888544
37 2025-05-08 16:58:08        1458.734913
38 2025-05-08 17:28:08        1288.922813
39 2025-05-08 17:58:08        1230.992379
40 2025-05-08 18:28:08        1319.925754
41 2025-05-08 18:58:08        1561.086740
42 2025-05-08 19:28:08        1926.421558
43 2025-05-08 19:58:08        2358.152389
44 2025-05-08 20:28:08        2779.413943
45 2025-05-08 20:58:08        3109.591888
46 2025-05-08 21:28:08        3280.947504
47 2025-05-08 21:58:08        3252.755872
48 2025-05-08 22:28:08        3019.741100
49 2025-05-08 22:58:08        2612.927049
50 2025-05-08 23:28:08        2092.804994
51 2025-05-08 23:58:08        1536.508202
52 2025-05-09 00:28:08        1247.219778
53 2025-05-09 00:58:08         838.351892
54 2025-05-09 01:28:08         573.574370
55 2025-05-09 01:58:08         461.275079
56 2025-05-09 02:28:08         481.839238
57 2025-05-09 02:58:08         595.614255
58 2025-05-09 03:28:08         754.366117
59 2025-05-09 03:58:08         913.174636