In [3]:
import pandas as pd
import sqlite3
import os

def load_energy_data(db_path="database.db"):
    # Connect to the database
    conn = sqlite3.connect(db_path)

    try:
        # Load all tables
        devices_df = pd.read_sql_query("SELECT * FROM devices", conn)

        historical_df = pd.read_sql_query("SELECT * FROM historical_energy_readings", conn)
        historical_df["timestamp"] = pd.to_datetime(historical_df["timestamp"])

        realtime_df = pd.read_sql_query("SELECT * FROM real_time_energy_readings", conn)
        realtime_df["timestamp"] = pd.to_datetime(realtime_df["timestamp"])

        predictions_df = pd.read_sql_query("SELECT * FROM predictions", conn)
        predictions_df["timestamp"] = pd.to_datetime(predictions_df["timestamp"])

        scheduled_tasks_df = pd.read_sql_query("SELECT * FROM scheduled_tasks", conn)
        scheduled_tasks_df["scheduled_time"] = pd.to_datetime(scheduled_tasks_df["scheduled_time"], errors='coerce')

        anomalies_df = pd.read_sql_query("SELECT * FROM anomalies", conn)
        anomalies_df["timestamp"] = pd.to_datetime(anomalies_df["timestamp"])

        # Group by switch_id and count anomalies
        anomaly_counts = anomalies_df.groupby("switch_id").size().reset_index(name="anomaly_count")

    finally:
        conn.close()

    # Return all DataFrames in a dictionary
    return {
        "devices": devices_df,
        "historical": historical_df,
        "realtime": realtime_df,
        "predictions": predictions_df,
        "scheduled_tasks": scheduled_tasks_df,
        "anomalies": anomalies_df,
        "anomaly_counts": anomaly_counts
    }

In [4]:
data = load_energy_data()

data["devices"]
data["historical"]
data['realtime']
data['predictions']
data['scheduled_tasks']
# data['anomalies']
# data['anomaly_counts']

Empty DataFrame
Columns: [task_id, switch_id, target_date, scheduled_time, status]
Index: []

In [6]:
data["devices"]

   switch_id            name     location      device_type  max_power_rating
0      ac_01             AC1    Bedroom_1               AC             700.0
1      ac_02             AC1    Bedroom_2               AC             700.0
2      ac_03             AC2      Kitchen               AC             700.0
3      ac_04             AC3  Living_Room               AC             700.0
4      mw_01       Microwave      Kitchen        Microwave            1200.0
5      rf_01    Refrigerator      Kitchen     Refrigerator             200.0
6      dw_01      Dishwasher      Kitchen       Dishwasher            1500.0
7      sp_01      SmartPlug1  Living_Room       Smart_Plug             400.0
8      sp_02      SmartPlug2  Living_Room       Smart_Plug             400.0
9      sp_03      SmartPlug1    Bedroom_2       Smart_Plug             400.0
10     sp_04      SmartPlug1    Bedroom_2       Smart_Plug             400.0
11     sp_05      SmartPlug1    Bedroom_1       Smart_Plug             400.0
12     sp_06      SmartPlug1    Bedroom_1       Smart_Plug             400.0
13     sp_07      SmartPlug1      Kitchen       Smart_Plug             400.0
14     wm_01  WashingMachine  Living_Room  Washing_Machine            1500.0
15     tv_01              TV  Living_Room               TV             150.0
16      B_01           Bulb1    Bedroom_1            Light             100.0
17      B_02           Bulb2    Bedroom_2            Light             100.0
18      B_03           Bulb3      Kitchen            Light             100.0
19      B_04           Bulb4     Washroom            Light             100.0
20      B_05           Bulb5  Living_Room            Light             100.0
21      B_06           Bulb6  Living_Room            Light             100.0
22      B_07           Bulb7  Living_Room            Light             100.0
23      B_08           Bulb8       Garden            Light             100.0
24      B_09           Bulb9       Garden            Light             100.0
25      B_10          Bulb10       Garden            Light             100.0