In [20]:
import pandas as pd
import sqlite3
import os

def load_energy_data(db_path="database.db"):
    # Connect to the database
    conn = sqlite3.connect(db_path)

    try:
        # Load all tables
        devices_df = pd.read_sql_query("SELECT * FROM devices", conn)

        historical_df = pd.read_sql_query("SELECT * FROM historical_energy_readings", conn)
        historical_df["timestamp"] = pd.to_datetime(historical_df["timestamp"])

        realtime_df = pd.read_sql_query("SELECT * FROM real_time_energy_readings", conn)
        realtime_df["timestamp"] = pd.to_datetime(realtime_df["timestamp"])

        predictions_df = pd.read_sql_query("SELECT * FROM predictions", conn)
        predictions_df["timestamp"] = pd.to_datetime(predictions_df["timestamp"])

        scheduled_tasks_df = pd.read_sql_query("SELECT * FROM scheduled_tasks", conn)
        scheduled_tasks_df["scheduled_time"] = pd.to_datetime(scheduled_tasks_df["scheduled_time"], errors='coerce')

        anomalies_df = pd.read_sql_query("SELECT * FROM anomalies", conn)
        anomalies_df["timestamp"] = pd.to_datetime(anomalies_df["timestamp"])

        # Group by switch_id and count anomalies
        anomaly_counts = anomalies_df.groupby("switch_id").size().reset_index(name="anomaly_count")

    finally:
        conn.close()

    # Return all DataFrames in a dictionary
    return {
        "devices": devices_df,
        "historical": historical_df,
        "realtime": realtime_df,
        "predictions": predictions_df,
        "scheduled_tasks": scheduled_tasks_df,
        "anomalies": anomalies_df,
        "anomaly_counts": anomaly_counts
    }

In [21]:
data = load_energy_data()

data["devices"]
data["historical"]
data['realtime']
data['predictions']
data['scheduled_tasks']
# data['anomalies']
# data['anomaly_counts']

Empty DataFrame
Columns: [task_id, switch_id, target_date, scheduled_time, status]
Index: []

In [22]:
data["historical"].head(60)

   switch_id           timestamp  power_consumption
0      mw_01 2025-04-29 13:38:17            1038.26
1       B_04 2025-04-29 13:38:17              98.07
2      ac_02 2025-04-29 13:38:17             683.74
3      sp_07 2025-04-29 13:38:17              42.09
4      wm_01 2025-04-29 13:38:17            1141.05
5       B_09 2025-04-29 14:08:17              15.16
6      sp_07 2025-04-29 14:08:17             182.80
7      ac_03 2025-04-29 14:08:17             359.66
8      sp_03 2025-04-29 14:08:17              49.57
9      sp_04 2025-04-29 14:08:17             188.61
10     ac_01 2025-04-29 14:08:17             341.63
11     sp_05 2025-04-29 14:08:17             171.09
12     wm_01 2025-04-29 14:08:17             957.84
13      B_02 2025-04-29 14:08:17              23.58
14     sp_02 2025-04-29 14:38:17              58.87
15     dw_01 2025-04-29 14:38:17            1254.48
16      B_04 2025-04-29 14:38:17              63.60
17      B_05 2025-04-29 14:38:17              39.93
18     tv_01 2025-04-29 14:38:17             130.46
19      B_09 2025-04-29 14:38:17              92.44
20     sp_04 2025-04-29 14:38:17              72.93
21      B_10 2025-04-29 14:38:17              69.47
22      B_07 2025-04-29 15:08:17              76.40
23     sp_06 2025-04-29 15:08:17             135.20
24     sp_05 2025-04-29 15:08:17             196.84
25      B_02 2025-04-29 15:08:17              89.91
26      B_01 2025-04-29 15:08:17              72.13
27      B_08 2025-04-29 15:08:17              69.29
28     sp_07 2025-04-29 15:08:17              45.31
29     rf_01 2025-04-29 15:08:17             188.88
30      B_05 2025-04-29 15:08:17              54.80
31     ac_01 2025-04-29 15:38:17             565.15
32     ac_02 2025-04-29 15:38:17             653.54
33      B_07 2025-04-29 15:38:17              13.49
34      B_06 2025-04-29 15:38:17              39.99
35      B_03 2025-04-29 15:38:17              86.91
36     sp_06 2025-04-29 15:38:17             170.43
37      B_10 2025-04-29 15:38:17              65.16
38     mw_01 2025-04-29 15:38:17            1174.61
39      B_09 2025-04-29 16:08:17              71.66
40     mw_01 2025-04-29 16:08:17            1093.78
41     ac_03 2025-04-29 16:08:17             310.65
42     wm_01 2025-04-29 16:08:17             920.44
43      B_05 2025-04-29 16:08:17              42.68
44     sp_07 2025-04-29 16:08:17             168.67
45     tv_01 2025-04-29 16:08:17             142.02
46     sp_04 2025-04-29 16:08:17             166.99
47      B_06 2025-04-29 16:08:17              23.89
48      B_08 2025-04-29 16:38:17              87.08
49     sp_04 2025-04-29 16:38:17              38.59
50     ac_01 2025-04-29 16:38:17             311.83
51      B_04 2025-04-29 16:38:17              68.71
52     sp_05 2025-04-29 16:38:17             168.84
53     ac_03 2025-04-29 16:38:17             645.81
54     sp_02 2025-04-29 16:38:17              67.95
55      B_05 2025-04-29 17:08:17              60.82
56     ac_02 2025-04-29 17:08:17             629.11
57     tv_01 2025-04-29 17:08:17              72.68
58     sp_06 2025-04-29 17:08:17              64.57
59     mw_01 2025-04-29 17:08:17             980.89